{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/forbid-prop-types": 0
  },
  "env": {
    "node": true,
    "es6": true
  }
}
